/***Imports***/
@import url(http://weloveiconfonts.com/api/?family=zocial);

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

/***General***/


/***Navbar***/
.navbar-default {
	background-color: rgba(204, 203, 203, 0.73);
	font-style: "Montserrat", sans-serif;
	font-weight: 600;
	color: black;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: rgba(231, 231, 231, 0.42);
}

.navbar-brand {
	padding: 5px 0 5px 10px;
} /***Override the navbar-brand class in order to make the logo fit its container***/

.logo {
	max-height: 100%;
}


/***Header***/
header {
	background-image: url(../images_src/header.jpg);
	background-position: center center;
	-webkit background-size: cover;
	-moz background-size: cover;
	-o background-size: cover;
	text-align: center;
	color: #fff;
}

.intro-text {
	padding-top: 100px;
	padding-bottom: 100px;
}

#greetings-text {
	font-family: "Droid Serif", sans-serif;
	font-style: italic;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 50px;
}

#name-text {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 45px;
	line-height: 50px;
	margin-bottom: 35px; 
}

#occupation-text {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	line-height: 50px;
	margin-bottom: 20px; 
}

/***Sections***/

section {
	padding: 40px 0;
}

.section-header {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 35px;
	margin-top: 0;
	margin-bottom: 15px;
}

/***Featured Work Section***/
.portfolio-item {
	margin: 0 0 15px 0;
}

.portfolio-image {
	margin: auto;
}

.porfolio-item-description {
	max-width: 100%;
	margin: 0 auto;
	background-color: #fff;
	text-align: center;
	padding: 25px;
}

/***Contact Section***/

#contact {
	background-color: #232323;
	color: #fff;
}

#inputMessage {
	height: 120px;
}

#about-me {
	margin-bottom: 50px;
}

#contact-me {
	margin-bottom: 50px;
}

/***Footer***/

footer {

	display: block;
	border-top: 1px solid #e0e0e0;
	padding: 0;
	width: 100%;

}

footer li {

	display: inline-block;
	margin: 0 1em;

}

#social-icons {
	font-size: 16px;
	padding: 0;
}

.section-header-small {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 800;
	padding: 0;
}
